
.icon-ico_arrow-down:before { content: '\e800'; } /* '' */
.icon-ico_arrow-left:before { content: '\e801'; } /* '' */
.icon-ico_arrow-right:before { content: '\e802'; } /* '' */
.icon-ico_arrow-top:before { content: '\e803'; } /* '' */
.icon-ico_basket:before { content: '\e804'; } /* '' */
.icon-ico_calendar:before { content: '\e805'; } /* '' */
.icon-ico_decor:before { content: '\e806'; } /* '' */
.icon-ico_heart:before { content: '\e807'; } /* '' */
.icon-ico_lock:before { content: '\e808'; } /* '' */
.icon-ico_order:before { content: '\e809'; } /* '' */
.icon-ico_picture:before { content: '\e80a'; } /* '' */
.icon-ico_reload:before { content: '\e80b'; } /* '' */
.icon-ico_search:before { content: '\e80c'; } /* '' */
.icon-ico_truck:before { content: '\e80d'; } /* '' */
.icon-ico_user:before { content: '\e80e'; } /* '' */
.icon-icon_list:before { content: '\e80f'; } /* '' */